body {
  height: 100vh;
  font-family: 'Inter', sans-serif;
  /* font-feature-settings: 'case' on; */
  background-color: #212121;
}

.main-container {
  padding: 20px 20px 0px 20px;
  width: 990px !important;
  max-width: 990px !important;
  min-width: 990px !important
}

.svg-div {
  height: 490px;
}


.message {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  font-feature-settings: 'case' on;
}

.message-text {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  color: #a29f9f;
  width: 1200px;
  font-feature-settings: 'case' on;
}


.circle-size-text {
  margin-top: 30px;
  font-size: 12px;
  color: #a29f9f;
  font-feature-settings: 'case' on;
}

.circle-text {
  display: block;
}


.horizontal-space-line {
  background-color: black;
  min-width: 900px;
  max-width: 1000px;
  height: 0.05em;
}

.vertical-space-line-transparent {
  background-color: transparent;
  width: 2px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.vertical-space-line-black {
  background-color: black;
  width: 1px;
  height: 100%;
  align-items: center;
}

.pr-1 {
  padding-right: 0.3rem
}

.pl-1 {
  padding-left: 0.3rem
}

.author-image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.author-name {
  margin-top: 10px;
  width: 80px;
  line-height: 1em;
}

.amountOfQuotes {
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}

.make-shadow {
  border: 1px solid;
  box-shadow: 500px 100px red;
}

.logo-header {
  margin-bottom: 2px;
}

.circle-shadow {
  filter: drop-shadow(0 0 10rem #E29896)
}

.click {
  opacity: 1
}

a {
  text-decoration: none;
  color: white;
}

.tippy-content {
  background-color: #ffffff;
  color: black;
  font-size: 10px;
}

.tippy-box[data-theme~="custom"] {
  box-shadow: rgba(231, 220, 220, 0.35) 6.4px 6.4px 6.4px 6.4px;
}

.bold {
  font-weight: bolder
}

/* legend buttons */
.legend-container {
  padding-top: 0px;
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.legend-button {
  color: #ffffff;
  border: none;
  padding: 6px;
  border-radius: 8px;
  flex: 0 0 calc(33.33% - 8px);
  /* Adjust to fit 3 buttons per line */
  box-sizing: border-box;
}

/* quotes section */

.quotes {
  padding-top: 0px;
  width: 850px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 40px !important
}

.quote-section-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.quote-container {
  border: none;
  padding: 10px;
  flex: 0 0 calc(50% - 20px);
  border: 2px solid #a29f9f;
  border-radius: 8px
}


.quote-author {
  color: #ffffff
}

.quote-text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #a29f9f;
  font-style: italic;
}

.author-role {
  font-size: 14px;
  color: #a29f9f;
}